.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../../Assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.header{
  font-size: 70px;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left,red, violet, indigo, blue, green, yellow, orange);
  color: transparent;
  animation: rainbow 0.8s reverse infinite;
}

@keyframes rainbow{
  0%{
    background-image: linear-gradient(to violet,left,indigo,blue,green,yellow,orange,red);
  }
  17%{
    background-image: linear-gradient(to left,orange,red, violet, indigo, blue, green, yellow);
  }
  33%{
    background-image: linear-gradient(to left,yellow,orange,red, violet, indigo, blue, green);
  }
  50%{
    background-image: linear-gradient(to left,green,yellow,orange,red, violet, indigo, blue);
  }
  66%{
    background-image: linear-gradient(to left,blue,green,yellow,orange,red, violet, indigo);
  }
  83%{
    background-image: linear-gradient(to left,indigo,blue,green,yellow,orange,red, violet);
  }
  100%{
    background-image: linear-gradient(to left,red, violet, indigo, blue, green, yellow, orange);
  }
}
