.Footer {
  box-sizing: border-box;
  min-height: 64px;
  width: 100%;
  padding: 1rem 20px;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-between !important;
  align-items: center !important;
  color: white;
  text-align: center;
  word-spacing: 0.25rem;

  background-color: transparent;
  box-shadow: 0px -2px 1px -1px rgba(0, 0, 0, 0.2);

  transition: background-color 500ms ease-in-out;
}

.Footer__Items {
  flex-grow: 1;
  display: inline-flex;
  justify-content: flex-end;
}

.Footer__Link {
  margin-right: 20px;
}
.Footer__Heart {
  font-size: xx-large;
}

@media (max-width: 599px) {
  .Footer__Items {
    flex-flow: column;
    padding: 0.5rem;
  }
}

.Footer__Items * {
  padding: 0.25rem 1rem;
}

.Footer__Heart {
  color: white;
  font-weight: 700;
}

.Footer__Link {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: underline;
}

.Footer__Link:hover {
  color: var(--secondary-dark);
}
